@import "../../_module";
.join {
  width: 100%;
}
.tool__wrap {
  @include flex__row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 18px;
  li {
    a {
      font-size: $font-size--setting-sm;
      color: #777;
    }
    &:nth-of-type(2) {
      a {
        @include position;
        &::after {
          @include position(a, 50%, -11px);
          content: "";
          width: 1px;
          height: 14px;
          transform: translateY(-50%);
          background-color: $border-color--default;
        }
      }
    }
  }
}
.remove__account {
  width: 100%;
  color: #777;
  text-align: center;
  display: block;
  margin-top: 18px;
}
.notice {
  color: red;
  order: 2;
  margin-top: 12px;
  padding-left: 8px;
  font-size: $font-size--setting-sm;
}