@import "../../_module";
.sub__footer {
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid $border-color--default;
  * {
    font-size: $font-size--setting-xxsm;
  }
  &_wrapper {
    @include flex__column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 100%;
      max-width: 172px;
      margin-bottom: 20px;
      @include device__query(tablet) {
        max-width: 80px;
      }
      img {
        width: 100%;
      }
    }
    .info {
      @include flex__column;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      * {
        font-weight: 300;
      }
      p {
        margin-top: 3px;
      }
    }
    ul {
      @include flex__row;
      justify-content: center;
      align-items: center;
      @include device__query(tablet) {
        flex-wrap: wrap;
      }
      li {
        @include device__query(tablet) {
          width: 100%;
          text-align: center;
        }
        &:not(:first-child) {
          @include position;
          margin-left: 30px;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            width: 1px;
            height: 9px;
            background-color: $text-color--default;
            @include device__query(tablet) {
              content: unset;
            }
          }
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
          @include device__query(tablet) {
            width: unset;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          @include device__query(tablet) {
            margin-left: 0;
          }
        }
        &:nth-of-type(4) {
          &::after {
            @include device__query(tablet) {
              content: "";
            }
          }
        }
      }
    }
    .menu {
      font-weight: 600;
      @include device__query(tablet) {
        width: 100%;
        flex-wrap: nowrap;
      }
      li:not(:first-child)::after {
        width: 2px;
        @include device__query(tablet) {
          content: "";
        }
      }
      li {
        @include device__query(tablet) {
          width: unset;
        }
        a {
          font-weight: $font-weight--SemiBold;
        }
        &:nth-child(2) {
          margin-left: 30px;
        }
      }
    }
    .copy {
      margin-top: 30px;
      font-size: $font-size--xsm;
      font-weight: 300;
      opacity: 0.85;
      text-align: center;
    }
  }
}